body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
    color: white;
    background-color: #2F4F4F;
}

main p {
    border: 2px solid black;
    padding: 5px ;
}

footer {
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 2px;
}

footer p {
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
